@model object

<div class="container" style="padding: 86px 0px 0px 0px; ">
    <h2>
        Bem-vindo ao Playground de testes!
    </h2>

    <table class="mt-5">
        <tr>
            <td>
                <a class="btn btn-success" asp-controller="Playground" asp-action="Gpt4VisionTester">
                    <span>Testar GPT-4 Vision</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-success" asp-controller="Playground" asp-action="ViewAllPictures">
                    <span>Ver todas as fotos capturadas</span>
                </a>
            </td>
        </tr>
    </table>
</div>


