@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bem-vindo à API do NutriLens</h1>
    <h4>Aqui estão concentradas todas rotas de API que são utilizadas no nosso aplicativo mobile!</h4>
    <img class="image-round image-logo mt-5" src="~/img/nutrilenslogo.jpg" />
    <h1 class="mt-5">Ainda não baixou nosso aplicativo?</h1>
    <h4>Para baixar o aplicativo NutriLens, basta scanear o QRCode ou clicar no link abaixo:</h4>
    <a href="https://drive.google.com/file/d/1nUivAuf55AU-0ACGYnHCbMSdCIYVUdBb/view?usp=sharing" style="cursor: pointer">
        <img class="img-fluid mt-5" height="350" width="350" src="~/img/qrcode_download_nutrilens.jpeg" />
    </a>
    <div class="row">
        <a href="https://drive.google.com/file/d/1nUivAuf55AU-0ACGYnHCbMSdCIYVUdBb/view?usp=sharing" style="cursor: pointer">
            <h4 style="cursor: pointer">Baixar aplicativo NutriLens!</h4>
        </a>
    </div>
</div>
